<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../source/_Forgot-Password/forgot.css">
    <title>Forgot Password</title>
</head>

<body>
    <div class="wrapper">

        <div id="image">
            <div class="header">
               <a href="#">testSpace</a>
            </div>
            <div class="left-side">
               <img src="../../source/_Forgot-Password/img/Forgot password-bro 1.svg" alt="">
            </div>
        </div>
        <div class="imgmobile">
            <img src="../../source/_Forgot-Password/img/Group 3.svg" alt="">
        </div>
        <div id="form">
            <form action="#">
                <h1 id="sendtxt">Forgot Password?</h1>
                <p class="text">Write your email here and press the button in order to change your password</p><br>
                <label class="formlbl">Username or Email</label><br>
                <input type="text" class='user' name="username" required=" " title="Bu  meydanca bos goyulmaly dal"><br>


                <input type="submit" value="Send" class='sendbtn'><br>

            </form>
        </div>
    </div>
</body>

</html>