
body{
   margin: 0;
   box-sizing: border-box;
}
header.nav-header {
   width: 100%;
   height: 80px;
   background: #fff;
   display: flex;
   justify-content: center;
   box-shadow: 0 0 3px #4b4b4b;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
}
header.nav-header  nav {
   width: 95%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header.nav-header  .logo a img {
   height: 50px;
   width: auto;
}
/* UL */
header.nav-header  nav>ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
}
header.nav-header nav i.fa-sort-down {
   font-size: 1rem;
   color: rgb(39, 39, 39);
}
header.nav-header nav span {
   display: flex;
   align-items: center;
   padding-left: .5rem;
}
header.nav-header nav ul li div {
   display: flex;
   align-items: center;
}
header.nav-header nav>ul>li {
   display: inline-block;
   padding-left: 2rem;
   cursor: pointer;
   position: relative;
}
/* NOtification */
header.nav-header nav li .notification {
   font-size: 1.5rem;
   color: rgb(39, 39, 39);
   position: relative;
}
header.nav-header nav li .notification .message-dot {
   font-size: 0.8rem;
   color: #FF580D;
   position: absolute;
   top: 10px;
   left: -5px;
   display: none;
}

/* Profile */
header.nav-header nav>ul>li>.prf>.avatar {
   width:40px;
   height: 40px;
   font-size: 1.5rem;
}
header.nav-header nav>ul>li>.prf>.avatar img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50px;
   /* border: 2px solid grey; */
}
/* LANG */
header.nav-header nav>ul>li>.lang {
   font-size: 1rem;
   color: rgb(39, 39, 39);
}

/* HOVER BLOCK */
.hover-block{
   position: absolute;
   padding: 0.5rem 1rem;
   margin: 0;
   background: #fff;
   list-style: none;
   box-shadow: 0 0 5px #b0a9a9;
   right: 0;
   display: none;
}
.hover-block li {
   display: flex;
   justify-content: space-between;
   padding: 0.6rem 0;
   cursor: pointer;
   line-height: 1.4rem;
}
.hover-block li a {
   text-decoration: none;
   font-size: 0.9rem;
   /* color: black; */
}
.remove-note {
   color: grey;
   background: none;
   border: none;
   cursor: pointer;
   padding: 0 5px;
}

.remove-note:focus {
   outline: none;
}
.cross {
   opacity: 0.3;
   cursor: not-allowed;
}


.hover-block li:hover {
   opacity: 0.7;
}
ul.not{
   min-width: 250px;
   max-height: 300px;
   height: auto;
   overflow-y: scroll;
   z-index: 100;
}
ul.not::-webkit-scrollbar{
   width: 3px;
   background: white;
}
ul.not::-webkit-scrollbar-thumb{
   width: 3px;
   background: #a7a7a7;
}
ul.profile{
   min-width: 150px;
}
ul.language {
   width: 100px;
}
.collapse {
   line-height: 40px;
   font-size: 1.6rem;
   display: none;
   cursor: pointer;
   z-index: 100000;
}

.loading {
   display: none;
   width: 100%;
   justify-content: center;
}

.loading div {
   color: rgb(71, 71, 71);
   width: 70px;
}

.loading div img {
   height: auto;
   width: 100%;
}

/* NOTE */
.loading-not {
   display: none;
   width: 100%;
   justify-content: center;
}

.loading-not div {
   color: rgb(71, 71, 71);
   width: 70px;
}

.loading-not div img {
   height: auto;
   width: 100%;
}


@media screen and (max-width :426px){
   .collapse {
      display: block;
   }
   .logo a img {
      height: 40px;
      width: auto;
   }
   header.nav-header .logo a img {
      height: 40px;
   }
   .nav-list{
      padding-top: 5rem !important;
      position: fixed;
      right: -100%;
      top: 0;
      display: block !important;
      width: 250px;
      height: 100vh;
      background: #fff;
      /* text-align: center; */
      box-shadow: 0 0 10px #574e4e;
      transition: 0.4s;
   }
   header.nav-header nav>ul>li {
      width: 100%;
      padding-left: 0;
      display: flex;
      justify-content: center;
      padding: 1.5rem 0;
   }
   .hover-block {
      position: absolute;
      z-index: 10000;
      padding: 0.5rem 0.5rem;
      background: #fff;
      list-style: none;
      right: 0;
      left: 0;
      top: 60px;
      display: none;
      line-height: 2rem
   }
   .hover-block li {
      padding: 0.5rem 0;
   }
   ul.not {
      min-width: 150px;
   }

   ul.profile {
      width: 130px;
   }
}
.active-nav{
   right: 0%;
}
.accepted {
   color: green;
}
.declared{
   color: red;
}
.normal {
   color: black;
}
.active-loading {
   display: flex;
}
.show-dot{
   display: block !important;
}