@font-face {
   font-family: Montserrat;
   src: url('../fonts/montserrat/Montserrat-Regular.otf');
}

@font-face {
   src: url('../fonts/montserrat/Montserrat-Bold.otf');
   font-family: Montserrat-Bold;
}
*{
   font-family: Montserrat !important;
}
body{
   margin: 0;
   padding: 0;
}
nav{
   width: 100%;
   height: 80px;
   padding-left: 5%;
   position: fixed;
   top: 0;
   left: 0;
}
nav .logo{
   display: flex;
   align-items: center;
   height: 80px;
}
nav .logo a{
   height: 40px;
}
nav .logo a img {
   width: 110px;
   height: auto;
}
@media screen and (max-width:700px){
   nav .logo a{
      font-size: 1.5rem;
   }
}