<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../source/_Log-in/loginpage.css">
    <title>Log in</title>
</head>

<body>
    <div id="container">
        <div id="image">
           <div class="left-side">
               <h5 class="name">
                  <a href="#">testSpace</a>
               </h5>
               <div class="letter">
                  <p class="know">
                     Knowledge is a treasure,<br>
                     but practice is the key to it</p>
               </div>
            </div>
        </div>
        <div class="imgmobile">
            <img src="../../source/_Log-in/img/authentication.svg" alt="">
        </div>
        <div id="form">
            <form action="#">
                <h1 id="logintxt">Log in</h1>
                <label class="formlbl">Username or Email</label><br>
                <input type="text" class='user' name="username" required=" " title="Bu  meydanca bos goyulmaly dal"><br>
                <label class="formlbl">Password</label><br>
                <input type="password" class='user' name="password " required><br>
               <div class="remember-line">
                  <input type="checkbox" class="check">
                  <label class="remember">Remember me</label>
                  <a href="# " class="forgot"> Forgot Password?</a><br>
               </div>
                <input type="submit" value="Login" class='loginbtn'><br>
               <div class="sign-up">
                <label class="txtlogin">Don' t have an accaunt</label><br>
                <a href="#" class="sign">Sign Up</a>
               </div>
            </form>
        </div>
    </div>
</body>


</html>