                * {
                    font-family: 'Poppins', sans-serif;
                    box-sizing: border-box;
                }
                
                body {
                    overflow: hidden;
                    margin: 0;
                }
                
                #container {
                    width: 80vw;
                    margin: auto auto;
                    display: grid;
                    grid-template-rows: 80vh;
                    grid-template-columns: 50% 50%;
                }
                nav{
                    height: 8vh;
                    color: #FF5700;
                    padding-left: 60px;
                    font-size: 26px;
                }
                #image {
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-top: 13vh;
                    height: 70vh;
                    display: grid;
                    justify-items: center;
                    margin-right: 40px;
                     animation: animate 1s ease-in-out forwards;
                }
                
            
                
                #form {
                  
                    display: flex;
                    justify-content: center;
                    color: #032535;
                    align-items: center
                }
                
                .imgmobile {
                    display: none;
                }
                
                #changetxt {
                    color: #032535;
                   font-size: 2rem;
                    margin: 0;
                    margin-bottom: 1.5rem;
                }
                
                #username {
                    display: block;
                    margin-right: 25px;
                }
                
                #password {
                    display: block;
                }
                
                .formlbl {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 36px;
                }
                
                .user {
                    width: 350px;
                    padding: 8px .75rem;
                    border: 2px solid #FF5700;
                    box-sizing: border-box;
                    border-radius: 7px;
                    margin-bottom: 16px;
                    font-weight: bold;
                }
                
                form {
                    animation: animate 1s ease-in-out forwards;
                }
                
                form .user:focus {
                    border: 2px solid #e3ee4a;
                    border-radius: 10px;
                }
                
                .savebtn {
                    width: 350px;
                    height: 45px;
                    background: #FF5700;
                    border-radius: 7px;
                    border: 2px solid #FF5700;
                    margin-top: 16px;
                    font-size: 20px;
                    color: white;
                    font-weight: 500;
                    cursor: pointer;
                }
                
               
                
                .left-side {
                    width: 80%;
                    height: 50%;
                    padding-top: 2rem;
                  
                }
                
              
                
                @keyframes animate {
                    from {
                        transform: translateX(-50px);
                    }
                    to {
                        transform: translateX(0);
                    }
                }
                
                @media screen and (max-width: 440px) {
                    form {
                        padding-top: 1.5rem;
                    }
                    .formlbl {
                        font-size: 14px;
                    }
                    .user {
                        width: 280px;
                    }
                    .savebtn {
                        width: 280px;
                    }
                  
                  
                }
                
                @media screen and (max-width: 768px) {
                    form {
                       padding-top: 6rem;
                      
                    }
                    #container {
                        grid-template-columns: 1fr;
                        grid-template-rows: 20vh 60vh;
                       
                    }
                    #image {
                        display: none;
                    }
                    .imgmobile {
                        display: flex;
                        margin: 0;
                        justify-content: center;
                        
                    }
                    .imgmobile img {
                        
                        height: 200px;
                    }
                    #txt {
                        color: #032535;
                        font-size: 30px;
                        text-align: center;
                        margin: 0;
                    }
                    #form {
                        color: #032535;
                        width: 100%;
                    }
                    nav>h2{
                        font-size: 28px;margin-left: 0;
                    }
                    nav{
                        height: 6vh;
                        padding-left: 20px;
                        
                    }
                   
                }