.container {
  padding: 0 20px;
}

.postview-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}
.postview-wrapper .right,
.postview-wrapper .left {
  width: 47%;
}
.postview-wrapper .left h1 {
  font-size: 30px;
}

.input input,
.input select,
.input textarea,
.input .input-file {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px #000000;
          box-shadow: 0px 0px 5px #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0 0 10px 0;
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.input textarea {
  height: 170px;
}
.input .input-file {
  height: 30px;
}
.input label {
  width: 100%;
  display: block;
}
.input input[type=file] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.input.language select {
  width: 50%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row .input {
  width: 47%;
}

.test-img-wrapper {
  width: 100%;
  height: 280px;
  float: right;
  margin: 0 0 10px 0;
}
.test-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.btns {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0 0 0;
}
.btns .btn {
  background-color: #fff;
  border: 3px solid #ff570c;
  padding: 5px 15px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}
.btns .btn:first-child {
  color: #ff570c;
}
.btns .btn:first-child:hover {
  background-color: #ff570c;
  color: #fff;
}
.btns .btn:last-child {
  background-color: #ff570c;
  color: #fff;
}
.btns .btn:last-child:hover {
  color: #ff570c;
  background-color: #fff;
}

@media (max-width: 900px) {
  .postview-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .postview-wrapper .right,
  .postview-wrapper .left {
    width: 100%;
  }
}
@media (max-width: 423px) {
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row .input {
    width: 100%;
  }
}
