/* updated code */
.profile {
  color: #ff570c;
  position: relative;
  cursor: pointer;
}

p,
h1 {
  margin: 0 0 10px 0;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 22p-x;
}

.profile-modal {
  z-index: 1;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 300px;
  height: 300px;
  border: 2px solid #ff570c;
  color: #111;
  display: none;
  border-radius: 10px;
  padding: 10px;
}

.profile-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-wrapper .avatar-wrapper {
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-wrapper h3 {
  margin: 5px 0 10px 0;
}

.profile-wrapper .avatar-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-modal::before {
  content: "";
  position: absolute;
  border: solid 20px transparent;
  border-bottom-color: #ff570c;
  z-index: 1;
}

/* updated code */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.container {
   padding-top: 110px;
  max-width: 1460px;
  margin: 0 auto;
}

.dropdown {
  position: absolute;
  list-style: none;
  -webkit-box-shadow: 0px 0px 5px -1px #6f6f6f;
          box-shadow: 0px 0px 5px -1px #6f6f6f;
}
.dropdown li {
  padding: 5px 12px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.dropdown li:hover {
  background-color: #0325351f;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
  width: 100%;
}

.header,
.header .left,
.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 15px;
}

.header .left h1 {
  font-size: 36px;
  color: #ff570c;
}

.header .right {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right .header-notif,
.header .right .header-avatar,
.header .right .header-language {
  cursor: pointer;
}

.header .right .header-notif {
  position: relative;
}

.header .right .header-notif i {
  font-size: 28px;
}

.header .right .header-notif .hamburger-notif {
  display: none;
}

.header .right .header-notif .notif-count {
  position: absolute;
  background-color: #ff570c;
  border-radius: 50%;
  color: #fff;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -6px;
  right: -6px;
}

.header .right .header-avatar {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .right .header-avatar .avatar-wrapper {
  width: 40px;
  height: 40px;
}
.header .right .header-avatar .dropdown-avatar {
  right: -30px;
  bottom: -70px;
  background-color: #fff;
  display: none;
}
.header .right .header-avatar .dropdown-avatar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .right .header-avatar .dropdown-avatar li i {
  margin: 0 5px 0 0;
}

.header .right .header-avatar i {
  margin-left: 4px;
  margin-bottom: 5px;
}

.header .right .header-avatar h3.username {
  display: none;
}

.header .right .header-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  border: 1px solid #111;
}

.header-language {
  position: relative;
}
.header-language .dropdown-language {
  display: none;
  background-color: #fff;
  right: -10px;
}

.header .right .header-language i {
  position: relative;
  bottom: 2px;
}

.hamburger-wrapper {
  display: none;
  cursor: pointer;
  padding: 10px 4px;
}

.hamburger-wrapper.active .hamburger span {
  background-color: #fff;
  position: absolute;
}

.hamburger-wrapper.active .hamburger span::after {
  width: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburger-wrapper.active .hamburger span::before {
  width: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburger-wrapper.inactive .hamburger span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hamburger-wrapper.inactive .hamburger span::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburger-wrapper.inactive .hamburger span::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburger {
  position: relative;
  width: 50px;
  height: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 2;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 2px;
  background-color: #111;
}

.hamburger span::before,
.hamburger span::after {
  content: "";
  position: absolute;
}

.hamburger span::before {
  top: 0;
}

.hamburger span::after {
  bottom: 0;
}

@media (max-width: 548px) {
  .header .right {
    display: none;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    background-color: #fff;
    -webkit-box-shadow: -1px 0px 10px 2px #aaa;
            box-shadow: -1px 0px 10px 2px #aaa;
    padding: 65px 0 15px 0;
    z-index: 1;
  }

  .header .right .header-avatar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    margin-bottom: 60px;
    pointer-events: none;
  }
  .header .right .header-avatar .avatar-wrapper {
    width: 100px;
    height: 100px;
  }

  .header .right .header-avatar i {
    display: none;
  }

  .header .right .header-avatar h3.username {
    display: block;
  }

  .header .right .header-notif {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header .right .header-notif .notif-count.web,
  .header .right .header-notif i.web {
    display: none;
  }

  .header .right .header-notif .hamburger-notif {
    display: block;
  }

  .header .right .header-notif .hamburger-notif span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .right .header-notif .hamburger-notif span i.mob {
    font-size: 18px;
    margin-left: 3px;
  }

  .header .right .header-notif .hamburger-notif .notif-count.mob {
    font-size: 10px;
    width: 12px;
    height: 12px;
    top: 0;
    right: -5px;
  }

  .header .right .header-language {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .hamburger-wrapper {
    display: block;
  }

  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
