<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Constructor</title>
   <link rel="stylesheet" href="../../source/_Functionality/__questions.css">
</head>
<body>
   <div class="container">
      <aside>
         <div id="questions">
         </div>
         <div class="add-question">
            <button id="add-question-btn">Add question +</button>
         </div>
      </aside>
      <section>
         <header>

         </header>
         <div class="wrapper">
            
         </div>

         <!-- <div>
            <button class="btn btn-outline-dark" id="getVal">Submit</button>
         </div> -->
      </section>
   </div>


   <script src="../../source/_Functionality/Questions.js"></script>
</body>
</html>