.tabs{
   padding-top: 80px;
   width: 100%;
   /* height: 60px; */
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.container{
   width: 95%;
   display: flex;
   flex-wrap: wrap;
   padding-top: 0.5rem;
}
.tab{
   font-size: 0.9rem;
   font-weight: 500;
   padding: 1rem 1rem 0.5rem;
   color: grey;
   cursor: pointer;
}
.active-tab{
   border-bottom: 2px solid #ff570c;
   color: black;
}



/* CARDS */
.wrapper{
   /* width: 100%; */
   min-height: 100vh;
   padding : 1rem 1%;
   margin: 0;
}
.cards{
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fill, 270px);
   grid-gap: 1rem;
   /* grid-auto-columns: minmax(100px, auto); */
}
.card{
   width: 100%;
   height: 220px;
   background-color: white;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 0 3px rgb(172, 172, 172);
}
.card:hover .img-block > img {
   filter: brightness(100%);
   transition: filter 0.5s;
}
.card> .img-block {
   width: 100%;
   height: 120px;
   background-color: rgba(0, 0, 0, 0.411);
   border-radius: 5px;

}
.card> .img-block >img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 5px 5px 0 0;
   filter: brightness(55%);
}
.card article{
   font-size: 0.9rem;
   padding: 0.5rem;
   height: 50px;
}
.card .info-test{
   font-size: 0.8rem;
   padding: 0.5rem;
   display: flex;
   justify-content: space-between;
   color: rgb(71, 71, 71);
}


/* MODAL */
.modal-bg{
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.459);
   z-index: 3000;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
}
.modal{
   min-width: 300px;
   width: 30%;
   height: auto;
   background: white;
   border-radius: 5px;
}
.modal p {
   margin: 0;
   padding: 1.5rem 0.5rem;
   font-size: 1.1rem;
   font-weight: 500;
}
/* .view-question{
   width: 100%;
   text-align: center;
   padding: 1rem;
}
.view-question a {
   padding: 0.5rem 1rem;
   text-decoration: none;
   color: white;
   background-color: #ff570c;
   display: inline-block;
} */
.settings {
   width: 100%;
   border-top: 1px solid rgb(196, 196, 196);
}
.settings ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: block;
}
.settings ul li {
   width: 100%;
   text-align: center;
}
.settings ul li:hover{
   background-color: rgb(243, 243, 243);
}
.settings ul li a {
   display: block;
   color: black;
   text-decoration: none;
   padding: 0.8rem 0;
}


.no-item-block {
   width: 100%;
   height: 50vh;
   display: none;
   justify-content: center;
   align-items: center;
}
.no-item-block h3{
   font-size: 1.5rem;
   color: grey;
}
.copy-link-test{
   position: fixed;
   top: -100%;
}