.search-tab{
   width: 100%;
   display: flex;
   height: 50px;
   align-items: center;
   /* padding: 1rem; */
}
.search-box{
   width: 50%;
   height: 50px;
   background-color: white;
   display: flex;
   border-radius: 5px;
}
.search-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 1rem;
   color: rgb(83, 83, 83);
}
form{
   width: 100%;
}
input.search-input{
   width: 100%;
   border: none;
   padding: 0;
   margin: 0;
   font-size: 1.1rem;
   border-radius: 5px;
   height: 100%;

}
input.search-input:focus{
   outline: none;
}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}

input[type=search]::-ms-reveal {
   display: none;
   width: 0;
   height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   display: none;
}


/* TABS */
.tabs{
   width: 100%;
   padding: 1rem;
   overflow-x: scroll;
   display: inline-flex;
   pointer-events: al;
}
.tabs::-webkit-scrollbar{
   display: none;
}
.tabs a{
   color: rgb(82, 82, 82);
   background-color: white;
   text-decoration: none;
   display: inline-block;
   padding: 0.6rem 0.8rem;
   border-radius: 50px;
   font-size: 0.8rem;
   margin: 0 0.2rem;
}
 
/* CARDS */

.wrapper{
   width: 100%;
   /* min-height: 500vh; */
   /* background-color: aquamarine; */
}
.cards{
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fill, 290px);
   grid-gap: 1rem;
   /* grid-auto-columns: minmax(100px, auto); */
}
/* CARDS */
.card{
   width: 100%;
   height: 220px;
   background-color: white;
   border-radius: 5px;
   cursor: pointer;
   /* opacity: 0; */
}
.card a {
   text-decoration: none;
   color: rgb(53, 53, 53);
}
.card:hover .img-block  img {
   filter: brightness(100%);
   transition: filter 0.5s;
}
.card .img-block {
   width: 100%;
   height: 120px;
   background-color: rgba(0, 0, 0, 0.411);
   border-radius: 5px;

}
.card  .img-block >img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 5px 5px 0 0;
   filter: brightness(55%);
}
.card article{
   font-size: 1.1rem;
   padding: 0.5rem;
}
.card .info-test{
   font-size: 0.9rem;
   padding: 0.5rem;
   display: flex;
   justify-content: space-between;
   color: rgb(71, 71, 71);
}


@media screen and (max-width: 768px) {
   .search-tab {
      width: 100%;
      display: block;
   }

   .search-box {
      width: 100%;
   }
   input.search-input {
      font-size: 0.9rem;
   }
   .wrapper {
      padding-top: 3rem;
   }
}



