/* Matching type */
.matching-block {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: 1rem;
   padding: 1rem;
}

.first-side .blocks,
.second-side .blocks {
   height: auto;
   min-height: 40px;
}

.first-side .blocks input {
   width: 50px;
   font-size: 1rem;
}