.container {
  padding: 0 20px;
}

.alert {
  position: fixed;
  width: 100vw;
  padding: 10px 30px;
}

.alert i {
  margin-right: 8px;
}

.alert.success {
  color: #0e801d;
  background-color: #d2f7d2;
}

.alert.error {
  color: #db1111;
  background-color: #ffc2c2;
}

.postview-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 120px 0 30px 0;

  .right,
  .left {
    width: 47%;
  }

  .left {
    h1 {
      font-size: 30px;
    }
  }
}

.input {
  input,
  select,
  textarea,
  .input-file {
    width: 100%;
    box-shadow: 0px 0px 5px #000000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 0 0 10px 0;
    position: relative;
    font-family: "Poppins", sans-serif;
  }

  select,
  input#photoInput {
    cursor: pointer;
  }

  textarea {
    min-height: 170px;
    max-height: 270px;
    resize: vertical;
  }

  .input-file {
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      position: absolute;
      color: #aaa;
    }
    &:hover {
      i {
        color: #ff570c;
      }
    }
  }

  label {
    width: 100%;
    display: block;
  }

  input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  &.language {
    select {
      width: 50%;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;

  .input {
    width: 47%;
  }
}

.test-img-wrapper {
  width: 100%;
  height: 280px;
  float: right;
  margin: 0 0 10px 0;

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
  }
}

.btns {
  justify-content: space-around;
  margin: 10px 0 0 0;

  .btn {
    background-color: #fff;
    border: 3px solid #ff570c;
    padding: 5px 15px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    cursor: pointer;

    &:first-child {
      color: #ff570c;

      &:hover {
        background-color: #ff570c;
        color: #fff;
      }
    }

    &:last-child {
      background-color: #ff570c;
      color: #fff;

      &:hover {
        color: #ff570c;
        background-color: #fff;
      }
    }
  }
}

@media (max-width: 900px) {
  .postview-wrapper {
    flex-wrap: wrap;

    .right,
    .left {
      width: 100%;
    }
  }
}

@media (max-width: 423px) {
  .row {
    flex-wrap: wrap;

    .input {
      width: 100%;
    }
  }
}
